<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="dbconnstr" connectionString="Data Source=MSSQL2K14;Initial Catalog=ASITINTERIORDB; User ID=sa;Password=2021$#9;Integrated Security=SSPI" providerName="System.Data.SqlClient" />


	</connectionStrings>

</configuration>